
.menu-list li a {
  text-decoration: none;
  color: white;
}
.menu-list li a:hover {
 /* background-color:; */
  color: rgb(243, 247, 192);
}

.divbtn {
    padding-top: 1.4rem;
    align-items: center;
}

.btn1 {
    background-color:  #5867F0;
    color: white;
    width: 16rem;
    height: 3rem;
    font-size: 1.8rem;
    font-family: 'Concert One', cursive;
    border: none;
    -webkit-box-shadow: 0.2rem 0.1rem 0.1rem rgba(107, 107, 107, 0.5);
		-moz-box-shadow: 0.2rem 0.1rem 0.1rem rgba(107, 107, 107, 0.5);
        box-shadow: 0.2rem 0.1rem 0.1rem rgba(107, 107, 107, 0.5);

}

.btn1:hover {
  background-color:#7b86eb;
  color:white;
}
 
.btn2 {
    background-color:  #5867F0;
    color: white;
    width: 16rem;
    height: 2.7rem;
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    border: none;
    padding-left: 0.5rem;
    margin-left: 2.2rem;
    -webkit-box-shadow: 0.2rem 0.1rem 0.1rem rgba(107, 107, 107, 0.5);
		-moz-box-shadow: 0.2rem 0.1rem 0.1rem rgba(107, 107, 107, 0.5);
        box-shadow: 0.2rem 0.1rem 0.1rem rgba(107, 107, 107, 0.5);
}

.btn2:hover {
  background-color:#7b86eb;
  color:white;
}
  
.container {
    margin-left: 1.2rem;
    width: 21%; /* define a largura do campo */ 
    position: relative;  /* cria o contexto de posicionamento do botão */ 
  }
  label {display:block;}
  input {width: 100%;} /* define a largura do campo igual a largura do container */
  input,  button {padding: 0.6rem;}
  button {
    position: absolute;   
    top: 0; 
    right: 0;
    /* posiciona o botão em relação ao container, mas
    como o campo está exatamente contido no container
    o posicionamento se dá também em relação ao campo */
    -webkit-box-shadow: 0.2rem 0.1rem 0.1rem rgba(77, 77, 77, 0.5);
		-moz-box-shadow: 0.2rem 0.1rem 0.1rem rgba(75, 75, 75, 0.5);
        box-shadow: 0.2rem 0.1rem 0.1rem rgba(73, 73, 73, 0.5);
        background-color:#5867F0;
    border:solid 0.1rem;
    border-radius:0 0.5rem 0.5rem 0;
  }

  #busca{
    background-color:white;
    padding-left:1rem;
    font-size:1rem;
    border:none;
    height:2.3rem;
    width:15rem;
    font-family: 'Work Sans', sans-serif;
    border:solid 0.1rem;
    border-radius:0 0.5rem 0.5rem 0;
    -webkit-box-shadow: 0.2rem 0.1rem 0.1rem rgba(107, 107, 107, 0.5);
		-moz-box-shadow: 0.2rem 0.1rem 0.1rem rgba(107, 107, 107, 0.5);
        box-shadow: 0.2rem 0.1rem 0.1rem rgba(107, 107, 107, 0.5);
  }

.mainmutiroes {

    display: grid;
    min-height: 80vh;
    max-height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 4rem;
    padding: 2rem;  
}


img {
    max-width: 100%;
}

.mt {
    background-color: RGBA( 211, 211, 211, 1 );
    -webkit-box-shadow: 0.2rem 0.1rem 0.1rem rgba(50, 50, 50, 0.5);
		-moz-box-shadow: 0.2rem 0.1rem 0.1rem rgba(50, 50, 50, 0.5);
    box-shadow: 0.2rem 0.1rem 0.1rem rgba(50, 50, 50, 0.5);
}

.mt:hover {
  background-color:#8994f193;
  color:white;
}


.mt h3 {
    color: #5867F0;
    font-family: 'Work Sans', sans-serif;
}

.mt p {
    text-align: justify;
    margin-left: 0.4rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    font-family: 'Work Sans', sans-serif;
    max-width: 100%;
}


#formulariocadastro label {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #5867F0;
  


}

#formulariocadastro {
  padding: 0.5rem;
  margin-top: 0.3rem;
  width: 30%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}